<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv.pdf">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:krishnakarthik1309@gmail.com">email</a></li>
	        		<li><a href="https://github.com/krishnakarthik1309">github.com/krishnakarthik1309</a></li>
	                <li><a href="https://www.linkedin.com/in/krishna-karthik-jonnala-647061104/">LinkedIn</a></li>
	                <li><a href="https://www.facebook.com/krishnakarthik1309">Facebook</a></li>
				</ul>
			</footer>
		</body>
	</html>

